
.Card {
    transition: box-shadow .3s;
    width:150px;
    height: 150px;
    margin: 50px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    border-radius: 0px 0px 25px 0px;
    
  }
  .Card:hover {
    box-shadow: 0 0 80px rgba(226, 166, 77, 0.482); 
  }
  
 
  .font{
    font-family:IstokWeb;
     color:#B27B7B; 
     font-size: 35px

}